awscli==1.16.79
better-exceptions==0.2.1
bokeh==1.0.2
boto3==1.9.69
botocore==1.12.69
colorama==0.3.9
colorspacious==1.1.2
ipdb==0.11
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
loguru==0.2.4
matplotlib==3.0.2
pandas==0.23.4
pytest==4.0.2
python-dotenv==0.10.1
pytz==2018.7
PyYAML==3.13
regex==2018.1.10
requests==2.20.1
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
selenium==3.141.0
sklearn==0.0
termcolor==1.1.0
terminado==0.8.1
